/* this css is for 600px and up */
@media only screen and (max-width: 1800px) {

#card5 {display: none;}

}

@media only screen and (max-width: 1430px) {

#card4 {display: none;}
    
}

@media only screen and (max-width: 1200px) {

    div.main-container .sidebar-right {display: none;}
    div.nav-container .logo-search-container .searchbox-container {
        width: 20px;
    }
}

@media only screen and (max-width: 1200px) {

    div.main-container .sidebar-right {display: none;}
        
}

@media only screen and (max-width: 1000px) {

    div.nav-container .top-middle-bar {display: none;}
    div.nav-container .top-right-bar {
        flex-basis: 80%;
    }
}

@media only screen and (max-width: 800px) {

    div.main-container .sidebar-left {display: none;}
    div.main-container .feed {
        flex-basis: 90%;
        margin-left: -10%;
    }
}
